@*20-08-17*@
@*check for user is been identity*@

@if (Request.IsAuthenticated)
{
    // is Admin login ?
    if (User.IsInRole("Admin"))
    {
        //Edit button set init TinyMCE
        <button type="button" id="Editor" name="Edit" >Edit </button>
        //hide update button if click edit then display
        <button type="submit" id="Submit" name="submitbtn" style="display: none;">Save</button>

    }

}


<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/MyScripts/tinymce/init-tinymce.js"></script>
<script src="~/Scripts/MyScripts/tinymce/submit.js"></script>
<script src="~/Scripts/tinymce/tinymce.min.js"></script>